server:
  port: 8082

spring:
  application:
    name: HotelService
  datasource:
    url: jdbc:sqlite:D:\LearningProjects\SQLLite\Micro_HotelService_Learning.db
#    username: root
#    password: root
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8671/eureka