<?xml version="1.0" encoding="UTF-8"?>

<web-app >
<!--  Servlet Declaration-->
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.deepsank.servlets.FirstServlet</servlet-class>
  </servlet>
  
<!--  Mapping-->
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>

  <display-name>Archetype Created Web Application</display-name>
</web-app>
