<?xml version="1.0" encoding="UTF-8"?>

<web-app >
<!--  Servlet Declaration-->
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.deepsank.servlets.FirstServlet</servlet-class>
  </servlet>
  
<!--  Mapping-->
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>

  <!--  Servlet Declaration-->
  <servlet>
    <servlet-name>servletUsingGenericServlet</servlet-name>
    <servlet-class>com.deepsank.servlets.UsingGenericServlet</servlet-class>
  </servlet>

  <!--  Mapping-->
  <servlet-mapping>
    <servlet-name>servletUsingGenericServlet</servlet-name>
    <url-pattern>/genericServlet</url-pattern>
  </servlet-mapping>

  <!--  Servlet Declaration-->
  <servlet>
    <servlet-name>servletUsingHttpServlet</servlet-name>
    <servlet-class>com.deepsank.servlets.UsingHTTPServlet</servlet-class>
  </servlet>

  <!--  Mapping-->
  <servlet-mapping>
    <servlet-name>servletUsingHttpServlet</servlet-name>
    <url-pattern>/httpServlet</url-pattern>
  </servlet-mapping>

  <display-name>Archetype Created Web Application</display-name>
</web-app>
