server:
  port: 8083

spring:
  application:
    name: RatingService
  datasource:
    url: jdbc:sqlite:D:\LearningProjects\SQLLite\Micro_RatingService_Learning.db
#    username: root
#    password: root
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect

  config:
    import: optional:configserver:http://localhost:8085

#No need of below configurations as they are now fetched from GitHub using ConfigServer

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka